body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #121212;
  color: #eee;
}

/* Sidebar */
#sidebar {
  position: fixed;
  width: 300px;
  height: 100vh;
  overflow-y: auto;
  padding: 1rem;
  border-right: 1px solid #333;
}

/* Map ocupa el resto de la pantalla */
#map {
  margin-left: 300px;
  height: 100vh;
  width: calc(100% - 300px);
  border-left: 1px solid #333;
}

/* Autocomplete results */
#results {
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.list-group-item {
  background-color: #1f1f1f;
  color: #eee;
}

.list-group-item:hover {
  background-color: #0078d4;
  color: #fff;
  cursor: pointer;
}

/* Botones */
.btn-outline-light {
  border-color: #ccc;
  color: #ccc;
}

.btn-outline-light:hover {
  background-color: #0078d4;
  color: #fff;
}


